.sidebar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 15px;
    background-color: #f0f4f9;

}

.sidebar i{
    width: 20px;
    text-align: center;

}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
  
}
.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;

}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;

}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    cursor: pointer;
    color: #282828;
}
.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}
.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: end;
}
@media (max-width:600px) {
    .sidebar{
        display: none;
    }
    
}
.icon-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
     /* Offset to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px; /* Make the message small */
}

.icon-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
